<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="php-7.4.28" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.4.28x86\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.3.21" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.3.21x86\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-8.1.8" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v8.1x86\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.0" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.3.20" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.3.20\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.31" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6.31\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.3.5" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="HTM SSINC" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
            <add name="HTML SSINC" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
            <add name="AboMapperCustom-145073083" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="D:\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="TraceHandler-Integrated-4.0" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebAdminHandler-Integrated-4.0" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated-4.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated-4.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="rules-Integrated-4.0" path="*.rules" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xoml-Integrated-4.0" path="*.xoml" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xamlx-Integrated-4.0" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="aspq-Integrated-4.0" path="*.aspq" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtm-Integrated-4.0" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtml-Integrated-4.0" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtm-Integrated-4.0" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtml-Integrated-4.0" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptHandlerFactoryAppServices-Integrated-4.0" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptResourceIntegrated-4.0" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="AboMapperCustom-157382497" path="*.asa" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382498" path="*.asax" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382499" path="*.ascx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382500" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382501" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382502" path="*.asp" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382503" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382504" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382505" path="*.cdx" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382506" path="*.cer" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382507" path="*.config" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382508" path="*.cs" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382509" path="*.csproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382512" path="*.htr" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\system32\inetsrv\asp.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382513" path="*.htw" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\webhits.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382514" path="*.ida" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\idq.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382515" path="*.idc" verb="OPTIONS,GET,HEAD,POST,PUT,DELETE,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\httpodbc.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382516" path="*.idq" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\idq.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382517" path="*.licx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382519" path="*.plx" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="D:\Perl\bin\perlis.dll" resourceType="File" requireAccess="Script" preCondition="bitness32" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382520" path="*.printer" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\msw3prt.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382521" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382522" path="*.resources" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382523" path="*.resx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382524" path="*.shtm" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\ssinc.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382525" path="*.shtml" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\ssinc.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382526" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382527" path="*.stm" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\ssinc.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382528" path="*.vb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382529" path="*.vbproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382530" path="*.vsdisco" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="AboMapperCustom-157382531" path="*.webinfo" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="classicMode,bitness32,runtimeVersionv1.1" responseBufferLimit="0" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.asp" />
                <add value="index.htm" />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
